@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modalAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	background: rgb(195, 34, 34);
	background: linear-gradient(
		180deg,
		rgba(195, 34, 34, 1) 0%,
		rgba(0, 0, 0, 1) 86%
	);
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: white !important;
}
input[type="text"] {
	--tw-ring-color: "" !important;
	color: white;
}
